{% extends 'User_navigation.html' %}
{% block body %}
<div class="container">
    <center><h3 style="color:red">About Us</h3><hr></center>

        <p><h5 style="color:blue;align:left">QUALITY CONTROL AND PRODUCT SAFETY</h5><br>
The production is under the supervision of the Florida Department of Agriculture who regularly samples the products. Production is also regulated and inspected by the Food and Drug Administration. The company maintains a Dairy Laboratory to insure quality and develop new products. The Quality Control department is also actively involved in promoting Allergen Awareness to our customers and follows a stringent HACCP program. All products developed by The Ice Cream Club®, Inc. are certified Kosher.</p>

    <p><h5 style="color:blue">PRODUCTS AND SERVICES</h5>
    <ul>
        <li>All products manufactured in house (pasteurizing and homogenizing on premises).</li>
        <li>Exclusive products NOT sold in grocery stores, convenience stores and discount warehouses/buying clubs.</li>
        <li>Over 100 ice cream flavors in stock; plus 17 No Sugar Added Reduced Fat ice creams, 25 Hard Pack Yogurts, 9 Low Carb Club flavors, and an assortment of sherbets, ices, and sorbets.</li>
        <li>Quality Ingredients.</li>
        <li>Competitive and stable pricing.</li>
        <li>New flavors added on a regular basis.</li>
        <li>All products produced by ICC®, Inc are Kosher.</li>
        <li>Complete soft serve line with over 40 flavors in each category; Lowfat Yogurt, No Sugar Added Fat Free Soft Serve Yogurt, Fat Free Soft Serve Yogurt, Soft Serve Ice Cream and Custard.</li>
        <li>"Franchise Look" without the Franchise prices and fees since we are not a Franchise.</li>
        <li>Ice Cream Club store name License available, but not required (minimum standards apply to licensed stores).</li>
        <li>$2,500.00 credit available to Licensed Stores for new outside sign.</li>
        <li>Most locations are serviced by Ice Cream Club employees in Ice Cream Club® company vehicles.</li>
        <li>Full line of commissary items including cones, toppings, paper goods and cups - One Stop Shop!</li>
        <li>Logoed and Non-Logoed cups and containers.</li>
        <li>Flavor labels and holders, Duratrans, Posters, T-shirts.</li>
        <li>Advertising, Promotional Credits and Camera-ready artwork.</li>
        <li>"Club Membership" promotions and discounts.</li>
        <li>Cake rounds, boxes, cakes, decorating vanilla ice cream and Cake Making</li></p>

</ul>


</div>
{% endblock %}