{% extends 'user_nav.html' %}
{% block body %}
{% load static %}
<style>
	body{
	font-family: 'Open Sans', sans-serif;
	background: url({% static 'images/banner5.jpg' %}) no-repeat 0px 0px;
	background-size:cover;

}
</style>
{% if error %}
    <script>alert('1 Book  Added Sucessfully');
window.location='{% url 'view_books' %}';
</script>
    {% endif %}
<center>
    <h1 style="font-size:25px; background-color:darkcyan;height:35px;color:white;padding:5px;margin-top:5px;font-family : 'Monotype Corsiva" align="center"> NEW CONNECTION FORM</h1>
	    <div class="main-content" style="width:100%">
				<div class="contact-w3" style="width:80%;margin-top:5px">

					    <form action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<label>Name</label>
						<input type="text" name="uname" value="{{request.user.username}}" required>

                        <label>Email</label>
						<input type="email" name="email" value="{{request.user.email}}" required>
                            <label>Mobile</label>
						<input type="text" name="mobile" value="{{data.mobile}}" required>
                        <label for="gender" style="margin-top:10px">Gender</label>
                            <input type="radio" name="gender" value="male" style="color:white">male
	                    <input type="radio"  name="gender" value="female" style="color:white">female
                             <label>Nationality</label>
						<input type="text" name="nationality"  placeholder="Nationality" required>
  <label>Address</label>
						<input type="text" name="add"  placeholder="add" required>

                            <label>Married Status</label>
                        <select name="married" >
                                <option value="" disabled selected>Choose Status</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorse">Divorse</option>
                                <option value="Widow">Widow</option>
                            </select>
                            <h6 style="color:red ;MARGIN-TOP:5PX">SPOUSE OR FATHER INFORMATHION</h6>
                            <label for="gender" style="margin-top:10px">Select Related</label>
                            <input type="radio" name="ralated" value="Father" style="color:white">Father
	                    <input type="radio"  name="ralated" value="Spouse" style="color:white">Spouse

                            <label>First Name</label>
						<input type="text" name="fname"  placeholder="first name" required>

                        <label>Last Name</label>
						<input type="text" name="lname"  placeholder="last name" required>
                             <label>City</label>
						<input type="text" name="city"  placeholder="city" required>

                             <label>Zipcode</label>
						<input type="text" name="zipcode"  placeholder="zipcode" required>
						<label>Book Image (Upload Id proof)</label>
						<input type="file" name="img" style="border:1px solid black;background-color:white" required>

						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
    </center>
		{% endblock %}
